<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

<script type="text/javascript">
var oEditors = [];
$(function(){
      nhn.husky.EZCreator.createInIFrame({
          oAppRef: oEditors,
          elPlaceHolder: "content", //textarea에서 지정한 id와 일치해야 합니다. 
          //SmartEditor2Skin.html 파일이 존재하는 경로
          sSkinURI: "/editor",  
          htParams : {
              // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
              bUseToolbar : true,             
              // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
              bUseVerticalResizer : true,     
              // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
              bUseModeChanger : true,         
              fOnBeforeUnload : function(){
                   
              }
          }, 
                 fCreator: "createSEditor2"
      });
      
      //저장버튼 클릭시 form 전송
    /*   $("#save").click(function(){
          oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
          $("#frm").submit();
      });   */  
});
 
 
 
</script>
</head>
<body>
	<h1>여기가 게시글 작성 페이지입니다.</h1>
	
	<form action="boardInput" id="frm" method="post">
		<label for="title">제목: <input type="text" name="title" autocomplete="off" id="title"></label><br>
		<textarea name="content" style="width:630px; height: 300px;"  id="content" autocomplete="off"></textarea><br>
		<input type="submit" id="save" value="등록">
		
	<!-- 	<div>
			첨부파일 등록
			<div class="fileDrop"></div>
			<div id="uploadList"></div>
		</div> -->
		
		
		<a href="boardList"><button type="button">리스트</button></a>
		<a href="/"><button type="button">메인페이지</button></a>
	</form>

</body>
</html>