<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>여기가 게시글 작성 페이지입니다.</h1>
	
	<form action="boardInput" method="post">
		제목: <input type="text" name="title" id="title"><br>
		내용: <textarea name="content" id="content"></textarea><br>
		<input type="submit" value="등록">
		
		<a href="boardList"><button type="button">리스트</button></a>
		<a href="/"><button type="button">메인페이지</button></a>
	</form>

</body>
</html>