<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>여기가 게시판 목록입니다</h1>
	<div>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<td style="width:5%">게시글 번호</td>
					<td style="width:60%">제목</td>
					<td style="width:5%">작성자</td>
				</tr> 
			</thead>
	
			<tbody th:each="board:${board}">
				<tr>
					<td><a th:text="${board.title}"></a></td>
					<td><a th:text="${board.content}"></a></td>
					<td><a th:text="${board.username}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="boardInputView"><button>게시글 작성</button></a>
	<a href="/"><button>메인페이지</button></a>
</body>
</html>
