<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- SmartEditor를 사용하기 위해서 다음 js파일을 추가 (경로 확인) -->
<script type="text/javascript" src="/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<!-- jQuery를 사용하기위해 jQuery라이브러리 추가 -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
</head>
<body>
	<h1>여기가 수정 페이지입니다.</h1>
	<form action="BUpdate" method="post">
		<a th:each="updateCon:${updateCon}">

			<table style="border: 1px solid">
				<tr>
					<td>게시글 번호</td>
					<td>제목</td>
					<td>내용</td>
					<td>작성자</td>

				</tr>
				<tr>
					<td><input type="text" th:value="${updateCon.bno}" name="bno"
						style="border: 0px;"></td>
					<td><input type="text" th:value="${updateCon.title}"
						name="title"></td>
					<td><input th:value="${updateCon.content}"
						name="content"></td>
					<td><input type="text" th:value="${updateCon.username}"
						name="username" readonly="readonly" style="border: 0px;"></td>

				</tr>
			</table>
		</a> <a href="boardList"><button type="button">리스트</button></a> <input
			type="submit" value="수정하기"> <a th:href="${refere}"> <input
			type="button" value="취소"></a>
	</form>
</body>
</html>