<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Insert title here</title>


</head>

<body>

	<header th:include="header">
	
	</header>
	<table>
		<tbody th:each="boardCon:${boardCon}">
			<input type="hidden" th:value="${boardCon.bno}" id="bno"/>
			<tr>
				<td>글번호</td>
				<td th:text="${boardCon.bno}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td th:text="${boardCon.title}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td th:text="${boardCon.content}"></td>
			</tr>
			<tr>
				<td>ID</td>
				<td th:text="${boardCon.username}"></td>
			</tr>
			<tr>
				<td><a href="boardList"><button type="button">리스트</button></a></td>
				<td><a href="/"><button type="button">메인페이지</button></a></td>
				<td><a th:onclick="|javascript:BDel('${boardCon.username}','${boardCon.bno}')|"><input type="button" value="삭제"></a></td>
				<td><a th:onclick="|javascript:BUpdateProcess('${boardCon.username}','${boardCon.bno}')|"><button type="button">수정</button></a></td>
			</tr>
		</tbody>
	</table>
	<hr>

	<div th:each="boardComment:${boardComment}">
		<table >
			<tr style="border: 1px solid;">
				<td>댓글 번호</td>
				<td>내용</td>
				<td>작성자</td>
			</tr>
			<tr>
				<td><input type="hidden" th:text="${boardComment.cno}" th:value="${boardComment.cno}" name="cno" id="cno"></td>
				<td> <a th:text="${boardComment.bccomment}"></a></td>
				<td> <a th:text="${boardComment.bcwriter}"></a><input type="hidden"	 name="bcwriter" id="bcwriter" th:value="${boardComment.bcwriter}"></td>
			</tr>
			<tr>
			<td><a th:onclick="|javascript:BCUpdate('${boardComment.cno}','${boardComment.bno}' ,'${boardComment.bcwriter}')|"><input type="button" value="수정"></a></td>
			
			<!--  th:onclick="|javascript:function(data)|를 쓰면 배열인 객체에서도 값을 받아오는게 된다!"  -->
			<td><input type="button" value="삭제" th:onclick="|javascript:commentDelete('${boardComment.cno}', '${boardComment.bcwriter}')|"/> </td>
			</tr>	
			</table>
	</div>

	<div>
		<textarea rows="10" cols="150" placeholder="댓글 내용을 입력해주세요" name="comment" id="comment"></textarea>
		<input type="button" onclick="addComment()" value="저장">
	</div>

<!-- ajax script  -->
	<script>
		var bno = document.getElementById("bno").value;
		
		
		
		function BUpdateProcess(username, bno){ // 게시글 수정
			$.ajax({
				type : 'get',
				url : "BUpdatePrc",
				data : {
					"bno" : bno,
					"username" : username,
				},
				success : function(data) {
					if(data == "false"){
						alert("권한이 없습니다");	
					}
					else{
					location.href=data;
					}
				},
				error : function(request, status, error) {
				}
			}); 
		}
		
		
		function BDel(username, bno){ // 게시글 삭제
			alert(username,bno)
			$.ajax({
				type : 'get',
				url : "BDel",
				data : {
					"bno" : bno,
					"username" : username,
				},
				success : function(data) {
					if(data == "false"){
						alert("권한이 없습니다");	
					}
					else{
					location.href=data;
					}
				},
				error : function(request, status, error) {
				}
			}); 
		}
		
		function addComment() { //댓글 삽입 Ajax
			var comment = document.getElementById("comment").value;
			$.ajax({
				type : 'post',
				url : "addComment",
				data : {
					"bno" : bno,
					"bccomment" : comment
				},
				success : function(data) {
					location.href = data;
				},
				error : function(request, status, error) {

				}

			});
		}

	 	function commentDelete(cno, bcwriter) { //댓글 삭제 Ajax
			 
	 	 $.ajax({
					type : 'post',
					url : "deleteComment",
					data : {
						"cno" : cno,
						"bno" : bno,
						"bcwriter" : bcwriter
					},
					success : function(data) {
						if(data == "false"){
							alert("권한이 없습니다");	
						}
						else{
						location.href=data;
						}
					},
					error : function(request, status, error) {
					}
				}); 
		} 
	 	
	 	function BCUpdate(cno, bno,bcwriter) { //댓글 수정 Ajax
	 		var ua = window.navigator.userAgent;
	 	alert(ua);
		 	 $.ajax({
						type : 'get',
						url : "BCUpdate",
						data : {
							"bno" : bno,
							"cno" : cno,
							"bcwriter" : bcwriter
						},
						success : function(data) {
							if(data == "false"){
								alert("권한이 없습니다");	
							}
							else{
							location.href=data;
							}
						},
						error : function(request, status, error) {
						}
					}); 
			} 
	 	
		
	</script>

	
</body>
</html>